body {
    background: rgb(0, 0, 0);
}

.zg1 {
    background: rgb(12, 16, 219);
    color: white;
    text-align: center;
    font-size: 30px;
}

.text {
    background: rgb(8, 83, 1);
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    width: auto;
    height: auto;
    border-radius: 30px;
}

img {
    display: block;
    margin: 0 auto;
}

h1 {
    color: white;
    text-align: center;
    font-size: 30px;
}

h2 {
    color: rgb(0, 90, 23);
    font-size: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 390px;
    height: 390px;
    background: rgb(255, 187, 0);
    font-size: 23px;
    color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.flexbox {
    width: 1200px;
    height: 1200px;
    margin: 0 auto;
    border: 5px solid rgb(255, 0, 170);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 15px;
}