@font-face {
    font-family: 'Inter-Regular';
    src: url(../fonts/Inter-Regular.ttf) format('truetype');
    font-weight: 700;

}

@font-face {
    font-family: 'Inter-Bold';
    src: url(../fonts/Inter-Regular.ttf) format('truetype');
    font-weight: 400;

}

@font-face {
    font-family: 'Inter-Medium';
    src: url(../fonts/Inter-Regular.ttf) format('truetype');
    font-weight: 300;

}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf) format('truetype');
    font-weight: 400;

}